{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Cash Flow{% endblock %}

{% block content %}
    <div class="container">
        Filters go here
    </div>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Category</th>
                    <th>Last month</th>
                    <th>Current month</th>
                    <th>Total (year)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Receipts</td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format">{{total_gross_receipts}}</td>
                </tr>
                <tr>
                    <td>Expenditures</td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
