{% extends 'base.html' %}
{% load bootstrap3 %}

{% include 'menu non-home.html' %}

{% block title %}Expenses{% endblock %}

{% block content %}
    <div class="container">
        Filters go here
    </div>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Expense name</th>
                    <th>Document</th>
                    <th>Project</th>
                    <th>Net amount</th>
                    <th>Payment status</th>
                    <th>Exp. Payment date</th>
                </tr>
            </thead>
            <tbody>
                {% for document in expenses %}
                    {% include 'expenses/row.html' %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-primary navbar-btn"
                            data-toggle="modal" data-target="#revenue-modal">
        Add an expense
    </button>

{# Modals go here #}
<div class="modal" id="revenue-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a new expense</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" method="post">
                    {% csrf_token %}
                    {% bootstrap_form expense_form %}
                    {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary" %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

