{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}FinDash{% endblock %}

{% block content %}
<p>&nbsp;</p>
<div class="jumbotron">
  <h2>Welcome to FinDash</h2>
  <p>We can help you make sense of your company's finances!</p>
    <p>&nbsp;</p>
  <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      <a class="btn btn-success btn-lg" href="#" role="button">Check out employee demo</a>
      <a class="btn btn-success btn-lg" href="#" role="button">Check out manager demo</a>
  </p>
</div>

{% endblock %}