{% extends 'base.html' %}
{% load bootstrap3 %}

{% include 'menu non-home.html' %}

{% block title %}Income Statement{% endblock %}

{% block content %}
    <div class="container">
        Tu powinny być filtry miesięcy
        Miesięce powinny byc jakoś generowane z systemu, np. bieżący + 5 ostatnich?
        Co z przyszłymi miesiącami?
    </div>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Category</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Net revenues</td>
                    <td>{{total_net_revenues}}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
