{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Income Statement{% endblock %}

{% block content %}
    <div id="income-statement-highchart-container">

    </div>
    <div class="container">

    </div>
    <div class="container">
        <table class="table" id="income-statement">
            <thead class="thead-dark">
                <tr>
                    <th>Category</th>
                    {% for month in months %}
                        <th class="month-names">{{month}}</th>
                    {% endfor %}
                    <th>Total (year)</th>
                </tr>
            </thead>
            <tbody>
                <tr id="row-one">
                    <td>Revenues</td>
                    {% for revenue in revenue_list %}
                    <td class="value-format net-revenue-element">{{revenue}}</td>
                    {% endfor %}
                    <td class="value-format">{{total_net_revenues}}</td>
                </tr>
                <tr id="row-two">
                    <td>Expenses</td>
                    {% for expense in expense_list %}
                    <td class="value-format net-expense-element">{{expense}}</td>
                    {% endfor %}
                    <td class="value-format">{{total_net_expenses}}</td>
                </tr>
                <tr>
                    <td>Gross profit</td>
                    {% for gross_profit in gross_profit_list %}
                    <td class="value-format gross-profit-element">{{gross_profit}}</td>
                    {% endfor %}
                    <td class="value-format">{{total_gross_profit}}</td>
                </tr>
                <tr>
                    <td>Tax</td>
                    {% for tax in tax_list %}
                    <td class="value-format tax-element">{{tax}}</td>
                    {% endfor %}
                    <td class="value-format">{{total_tax}}</td>
                </tr>
                <tr>
                    <td>Net profit/loss</td>
                    {% for net_profit in net_profit_list %}
                    <td class="value-format net-profit-element">{{net_profit}}</td>
                    {% endfor %}
                    <td class="value-format">{{total_net_profit}}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
