{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Income Statement{% endblock %}

{% block content %}
    <div id="income-statement-highchart-container">

    </div>
    <div class="container">
        Tu powinny być filtry miesięcy
        Miesięce powinny byc jakoś generowane z systemu, np. bieżący + 5 ostatnich?
        Co z przyszłymi miesiącami?
    </div>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Category</th>
                    {% for month in months %}
                        <th class="month-names">{{month}}</th>
                    {% endfor %}
                    <th>Total (year)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Net revenues</td>
                    <td class="value-format net-revenue-element">{{five_month_ago_net_revenues}}</td>
                    <td class="value-format net-revenue-element">{{four_month_ago_net_revenues}}</td>
                    <td class="value-format net-revenue-element">{{three_month_ago_net_revenues}}</td>
                    <td class="value-format net-revenue-element">{{two_month_ago_net_revenues}}</td>
                    <td class="value-format net-revenue-element">{{one_month_ago_net_revenues}}</td>
                    <td class="value-format net-revenue-element">{{current_month_net_revenues}}</td>
                    <td class="value-format net-revenue-element">{{total_net_revenues}}</td>
                </tr>
                <tr>
                    <td>Net expenses</td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                </tr>
                <tr>
                    <td>Gross profit</td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                </tr>
                <tr>
                    <td>Tax</td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                </tr>
                <tr>
                    <td>Net profit</td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                    <td class="value-format"></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
