{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}{{request.user.companymember.company.name}} Dashboard{% endblock %}

{% block content %}
<div class="card-deck">
    <div class="card">
      <h5 class="card-header">Revenues</h5>
      <div class="card-body">
          <table class="table">
              <tbody>
              <tr>
                  <td><p class="card-text">Current month:</p></td>
                  <td class="value-format">{{current_month_revenues}}</td>
              </tr>
              <tr>
                  <td><p class="card-text">Last month:</p></td>
                  <td class="value-format">{{last_month_revenues}}</td>
              </tr>
              <tr>
                  <td><p class="card-text">Annually:</p></td>
                  <td class="value-format">{{annual_revenues}}</td>
              </tr>
              </tbody>
          </table>
        <a href="{% url 'revenues' pk=request.user.companymember.company.id %}" class="btn btn-primary">View</a>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Expired Revenues</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Expenses</h5>
      <div class="card-body">
          <table class="table"><x></x>
              <tbody>
              <tr>
                  <td><p class="card-text">Current month:</p></td>
                  <td class="value-format">{{current_month_expenses}}</td>
              </tr>
              <tr>
                  <td><p class="card-text">Last month:</p></td>
                  <td class="value-format">{{last_month_expenses}}</td>
              </tr>
              <tr>
                  <td><p class="card-text">Annually:</p></td>
                  <td class="value-format">{{annual_expenses}}</td>
              </tr>
              </tbody>
          </table>
        <a href="{% url 'expenses' pk=request.user.companymember.company.id %}" class="btn btn-primary">View</a>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Expired Expenses</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Today's Payments</h5>
      <div class="card-body">Expenses to be paid today:</h5>
        <ul>
            {% for payment in today_payments %}
                {% include 'main_dashboard/today_payment.html' %}
            {% empty %}
                <p>None</p>
            {% endfor %}
        </ul>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Upcoming Payments</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
</div>

{% endblock %}