{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}{{request.user.companymember.company.name}}Company Settings{% endblock %}

{% block content %}
<div class="card-deck">
    <div class="card">
      <h5 class="card-header">Procedures</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Employees</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Countries</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">VAT Rates</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Bonus Scheme</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Tax & Social Settings</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
        {% if perms.dashapp.manager_access %}
        <div class="card">
      <h5 class="card-header">Import Data</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
        <div class="card">
      <h5 class="card-header">Register an Employee</h5>
      <div class="card-body">
        <h5 class="card-title">Create a new employee here</h5>
        <p class="card-text"></p>
        <a href="{% url 'new-employee' pk=request.user.companymember.company.id %}" class="btn btn-primary">Register ></a>
      </div>
    </div>
    {% endif %}
</div>

{% endblock %}