{% load bootstrap3 %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">FinDash</a>
        </div>

        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                {% if request.user.is_authenticated == True %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'main-dashboard' request.user.companymember.company.id %}">Dashboard</a>
                </li>
                {% endif %}
                {% if perms.dashapp.manager_access %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'manager-dashboard' request.user.companymember.company.id %}">Manager Dashboard</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Data
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        {% if request.user.is_authenticated == True %}
                        <li><a class="dropdown-item"
                               href="{% url 'revenues' pk=request.user.companymember.company.id %}">Revenues</a></li>
                        <li><a class="dropdown-item"
                               href="{% url 'costs' pk=request.user.companymember.company.id %}">Costs</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="#">Another
                            action</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="dropdown-item" href="#">Something else
                            here</a></li>
                    </ul>

                </li>
                {% if perms.dashapp.manager_access %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Executive Data
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        {% if request.user.is_authenticated == True %}
                        <li><a class="dropdown-item"
                               href="{% url 'income-statement' pk=request.user.companymember.company.id %}">Income
                            Statement</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="#">Another
                            action</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="dropdown-item" href="#">Something else
                            here</a></li>
                    </ul>

                </li>
                {% endif %}

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated == False %}
                    <button type="button" class="btn btn-primary navbar-btn"
                            data-toggle="modal" data-target="#login-modal">
                        Log in
                    </button>
                    <a role="button" class="btn btn-primary navbar-btn"
                            href="{% url 'registration' %}">
                        Sign up
                    </a>
                {% else %}
                    <span>
                        {{request.user.first_name}}
                        {{request.user.last_name}},
                        {{request.user.companymember.company.name}}
                    </span>
                    <a role="button" class="btn btn-default navbar-btn"
                            href="{% url 'logout' %}">
                        Log out
                    </a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{# Modals go here #}
<div class="modal" id="login-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Log in to your account</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>Don't have an account? <a
                        href="#">Sign Up Here</a></span>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form global_login_form %}
                    {% bootstrap_button "Log in" button_type="submit" button_class="btn-primary" %}
                    {% bootstrap_button "Reset" button_type="reset" button_class="btn-default" %}
                </form>
                <span>Forgot username or password? <a href="#">Recover password here</a>.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>
