{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Financial Dashboard 1{% endblock %}

{% block content %}
    <div class="container">
        <h1>Testowa tabela 1</h1>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nazwa 1</th>
                    <th>Nazwa 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test 1</td>
                    <td>Test 2</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}