<div class="modal" id="{{document.id}}-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<tr class="revenues-row table-row" data-toggle="modal" data-target="#{{document.id}}-modal">
    <td>{{document.customer}}</td>
    <td>{{document.document_id}}</td>
    <td>{{document.project}}</td>
    <td>{{document.net_amount_converted}}</td>
    <td>{{document.settlement_status}}</td>
    <td>{{document.expected_payment_date}}</td>
</tr>