<div class="modal" id="{{document.id}}-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">Revenue: {{document.document_id}}</h5>
      </div>
      <div class="modal-body">
          <p>Customer: {{document.customer}}</p>
          <p>Country: {{document.country}}</p>
          <p>Project: {{document.project}}</p>
          <p>Procedure: {{document.procedure}}</p>
          <p>Document date: {{document.document_date}}</p>
          <p>Payment deadline: {{document.payment_deadline}}</p>
          <p>
              Payment status:
              {% if document.settlement_status == True %}
              Paid on {{document.actual_payment_date}}
              {% else %}
              Unpaid
              {% endif %}
          </p>
          <p>Actual payment date: </p>
          <p>Payment type: {{document.payment_type}}</p>
          <p>Expected payment chance: {{document.percent_payment_expectation}}</p>
          <p>Net amount: {{document.net_amount_foreign}} {{document.currency}}</p>
          <p>VAT rate: {{document.display_vat_rate}}</p>
          <p>Exchange rate: {{document.exchange_rate}}</p>
          <p>Salesperson: {{document.employee}}</p>
      </div>
      <div class="modal-footer">
        <a role="button" class="btn btn-default" href="{% url 'modify-revenue' pk=document.id %}">Modify</a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<tr class="revenues-row table-row" data-toggle="modal" data-target="#{{document.id}}-modal">
    <td>{{document.customer}}</td>
    <td>{{document.document_id}}</td>
    <td>{{document.project}}</td>
    <td class="value-format">{{document.net_amount_converted}}</td>
    <td>
        {% if document.settlement_status == True %}
          Paid
          {% else %}
          Unpaid
          {% endif %}
    </td>
    <td>{{document.payment_deadline}}</td>
</tr>